.perfil {
  margin-top: 20px !important;
}

.perfil_left {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.perfil_left .ui.image.avatar {
  width: 170px;
  height: 170px;
  cursor: pointer;
}

.perfil_right .other .nombre {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: bold;
}

.perfil_right .descripcion {
  font-size: 16px;
  margin-top: 10px;
}
