$font-light: #fff;
$font-grey: #a2a2a2;
$fort-dark: #000;

$background-light: #fff;
$background-gray-light: #fafafa;

$border-gray: #dbdbdb;
$border-dark: #000;

$action: #0095f6;
$danger: #ed4956;
